
<div class="d-flex justify-content-between flex-wrap flex-row tarjetaProducto">

  <div class="d-flex flex-left justify-content-start flex-row">

    <div class="columna col-img">
      <img class="producto-img" 
          [src]="producto.imagenes[0]"
          [alt]="producto.nombre">
    </div>

    <div class="columna col-info d-flex flex-column ">
      <h5 class="producto-nombre" > {{ producto.nombre }} 
        <span class="producto-id text-muted"> &nbsp;ID: {{ producto.idProducto }}</span> 
      </h5>
      <h5 class="producto-precio "> $ {{ producto.precio }} <small>MXM</small> </h5>
    </div>

  </div>

  <div class="d-flex flex-rigth justify-content-end flex-wrap flex-row">

    <div class="columna col-resenas">
      <h6> Calificación </h6>
      <h6 class="producto-resenas text-muted">
        <span class="stars fs-6 text-warning">{{estrellas_doradas}}</span>
        <span class="stars fs-6">{{estrellas_restantes}}</span>
      </h6>
      <p class="producto-opiniones text-muted"> ({{cantidad_resenas}} reseñas) </p> 
    </div>

    <div class="columna col-ventas">
      <h6> Vendidos </h6>
      <p class="producto-vendidos text-muted"> {{ producto.vendidos }}  </p>
    </div>
  
    <div class="columna col-ventas">
      <h6> Disponibles </h6>
      <p class="producto-vendidos text-muted"> {{ producto.disponibles }}  </p>
    </div>
  
    <div class="columna col-ventas">
      <h6> Ganancias </h6>
      <p class="producto-vendidos text-muted"> $ {{ ganancias }} <small>MXM</small>  </p>
    </div>
      
    <div class="columna col-btn flex-row ">
      <button class="btn-editar" (click)="accionEditarProducto(producto.idProducto)"> 
        <i class="bi bi-pencil-fill"></i> </button> 

      <button class="btn-eliminar" (click)="accionEliminarProducto(producto.idProducto)" > 
        <i class="bi bi-trash-fill"></i> </button> 
    </div>

  </div>

</div>

