
.tarjetaProducto{
    background: rgba(234, 235, 238, 0.8);
    margin: 10px 20px;
    padding-right: 10px;
    border-radius: 10px;
}

.columna{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 5px 5px;
}

.flex-left .columna{
    justify-content: flex-start;
}

.flex-rigth{
    min-width: 370px;
}

.flex-rigth .columna{
    justify-content: flex-start;
    margin: 15px 10px;
    width: 70px;
}


.col-info {
    width: 240px;
    align-items: flex-start;
    justify-content: space-around;
    margin-top: 5px;
    margin-left: 0px;
    margin-bottom: 5px;
    padding: 0px 8px;
    border-left: 1px solid rgb(184, 184, 184);
}

.col-img{
    background: rgba(255, 255, 255, 0.35);
    width: 80px;
    min-width: 80px;
    height: 80px;
    border-radius: 4px;
    font-size: 0.7em;
    padding: 0px;
}

.col-btn{
    margin: 0px 0px;
    padding: 0;
}


h5{
    font-size: 0.85em;
}
h6{
    font-size: 0.8em;
}
p, span{
    font-size: 0.8em;
    margin: 0;
}

.producto-img{
    object-fit:cover;
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.producto-opiniones{
    font-size: 0.65em;
    line-height: 0.2;
}
.producto-id {
    font-size: 0.8em;
}

button{
    border-radius: 5px;
    border: none;
    width: 25px;
    height: 25px;
    position: relative;
    color: white;
    font-size: 14px;
    margin: 0px 5px;
}


.btn-editar{
    background: linear-gradient(to top, #297cc9, #32d1f8); 
}
.btn-editar:hover{
    background: linear-gradient(to top, rgb(26, 58, 131), #29a5c4); 
}

.btn-eliminar{
    background: linear-gradient(to top, #f02323, #e77d27); 
    background: linear-gradient(to top, #7c7c7c, #afafaf); 
}
.btn-eliminar:hover{
    background: linear-gradient(to top, #b81a1a, #bd6925); 
    background: linear-gradient(to top, #4b4b4b, #838383);
}