<div class="p-2">
    <!-- Sección que muestra el top 5 de productos vendidos -->
    <div class="titulo m-3 rounded-pill "> 
        <h3 class="m-3 rounded-pill"> 
            <i class="bi bi-award"></i>
            Más vendidos
        </h3>
    </div>



    <!-- Tarjeta de productos -->
    <div class="d-flex flex-row 
                flex-wrap 
                align-items-center 
                justify-content-center 
                p-2 w-100">
        <app-tarjeta-producto [producto] = producto
                            *ngFor="let producto of productos; let i = index">
        </app-tarjeta-producto>      
    </div>
</div>

