<div class="container">
    <div class="d-flex justify-content-center">
        <i class="bi bi-check2-circle" style="font-size:90px; color: rgb(58, 172, 30);"></i>
    </div>
    <div class="row d-flex justify-content-center">
        <p class="text-center fs-4 mt-3" >Gracias {{comprador}} </p>
        <p class="text-center">¡Tu compra se ha completado exitosamente!</p>
    </div>

    <div class="row">
        Dirección de entrega
        <p class="ps-5 mt-4">{{dir}} </p>
    </div>

    <!-- Mostrar productos comprados -->
    <div class="row mb-5" *ngFor="let producto of listaP; index as i">

        <div class="d-flex align-items-center mis-productos">
            <div class="">
                <img [attr.src]="producto.imagenp" alt="Imagen del producto" width="100" height="100">
            </div>
            <div class="ms-3 producto">
                <p>{{producto.nombre}} </p>
                <p>Cantidad: {{producto.cant}} </p>
            </div>
        </div>    
        
    </div>

    <div class="d-flex justify-content-center">        
        <a routerLink= "/inicio" type="button" class="btn btn-primary px-5 rounded-pill">Seguir comprado</a>        
    </div>

    <p class="text-center mt-5">¿Necesitas ayuda con tu pedido?</p>
        
    <p class="text-center">Contáctanos a 
        <a href="mercadodevolada@gmail.com">mercadodevolada@gmail.com</a>
    </p>


</div>

