<nav aria-label="breadcrumb" class="m-3">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/inicio"
         routerLinkActive="active">
        Inicio
     </a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">{{ producto?.nombre }}</li>
  </ol>
</nav>


<div class="w-75 mx-auto p-3">
  <div>
    <div class="row justify-content-between">
      <div class="col-4">
        <div>
          <!-- Nombre -->
          <h3>{{ producto?.nombre }}</h3>
          <!-- ID -->
          <h6 class="text-muted"> ID {{ id }}</h6>
        </div>
      </div>
     <!-- Calificación -->
      <div class="col-4">
        <span class="text-warning fs-2">★★★<span class="text-muted fs-2">★★</span></span>
      </div>
    </div>
  </div>
  
  <!-- Imagenes del producto -->
  <div class="content-section implementation carousel-demo">
    <p-carousel [value]="producto?.imagenes" styleClass="custom-carousel" [numVisible]="3" [numScroll]="2"
        [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
        <ng-template let-foto pTemplate="item">
          <img [src]="foto.imagen" class="d-block w-100" [alt]="producto.nombre">
        </ng-template>
    </p-carousel>
  </div>

  <div>
    <div class="row justify-content-between">
      <div class="col-4 p-2">
        <!-- Precio -->
        <h4>${{ producto?.precio }} MXN</h4>
      </div>

      <!-- Agregar al carrito-->
      <div class="col-4 p-2">
        <button class="btn btn-primary w-75 mb-3 rounded-pill mx-auto" id="agregar" (click)="agregar()" 
        [disabled]="deshabilitar()">
        Agregar
      </button>
      </div>

    </div>
    <div class="row align-items-center">
      <div class="col-12">
        <!-- Descripción -->
        <p class="text-justify w-100 lh-sm">
          {{ producto?.descripcion }}
        </p>
      </div>
    </div>
  </div>
  
</div>

<app-resenas></app-resenas>