<app-barra-nav-comprador> </app-barra-nav-comprador>
<app-background></app-background>

<div class="products-container">
    <h2 class="titulo"> <i class="titulo-icon bi bi-chat-text "></i> Crear Reseña </h2> 
    <br>
    <!-- Imagen, nombre y ID del producto -->
    <div class="row">
        <div class="col-3 mb-2">
        <img [src]="infoProducto.imagen" class="d-block w-100" [alt]="infoProducto.nombre">
        </div>
        <div class="col-9 mb-2">
        <div class="row">
            <!-- Nombre del producto -->
            <div class="col-8 col-sm-8">
                <h3>{{infoProducto.nombre}}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-8 col-sm-8">
                <!-- ID del producto -->
                <p>ID {{infoProducto.idProducto}}</p>
            </div>
        </div>   
        </div>
    </div>
    <!-- Línea de separación -->
    <div class="row mb-1">
        <div class="col-12">
            <hr size="2" >
        </div>
    </div>
    <!-- Calificación -->
    <div class="row">
        <div class="col-12">
            <p class="fs-5 mb-1"> Calificación: </p>
        </div>
    </div>
    <!-- Calificación del 1 al 5 a través de estrellas-->
    <!-- Inicio formulario -->
    <form class="g-3" #myForm="ngForm" (submit)="submit(myForm)">
        <div class="row mb-4">
            <div class="calificaEstrellas form-check d-flex flex-row-reverse col-3">
                <!-- Estrella 5 -->
                <input type="radio" name="estrellas5" id="radio5" (click)="califica(5)">
                <label for="radio5">★</label>
                <!-- Estrella 4 -->
                <input type="radio" name="estrellas5" id="radio4" (click)="califica(4)">
                <label for="radio4">★</label>
                <!-- Estrella 3 -->
                <input type="radio" name="estrellas5" id="radio3" (click)="califica(3)">
                <label for="radio3">★</label>
                <!-- Estrella 2 -->
                <input type="radio" name="estrellas5" id="radio2" (click)="califica(2)">
                <label for="radio2">★</label>
                <!-- Estrella 1 -->
                <input type="radio" name="estrellas5" id="radio1" (click)="califica(1)">
                <label for="radio1">★</label>
            </div>
        </div> 
        <!-- Comentario -->
        <div class="comentarioContainer row">
            <h5>Agregar un comentario</h5>
            <div class="form-floating mb-2">
                <textarea class="form-control" [(ngModel)]=opinion name="opinion" 
                    id="exampleFormControlTextarea1"  placeholder="Escribe aquí tu comentario" rows="3" style="height: 200px"></textarea>
            </div>

            <button class="btn btn-guardar btn-dark rounded-pill " type="submit">Guardar</button>
        </div>
    </form>
    <!-- Fin formulario -->
</div> <br>

