<div class="container">
    <h4>Crear Reseña</h4> <br>
    <!-- Imagen, nombre y ID del producto -->
    <div class="row">
        <div class="col-3 mb-5">
        <img src="https://www.punto-informatico.it/app/uploads/2020/05/lg_gram.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-9 mb-5">
        <div class="row">
            <div class="col-8 col-sm-8">
                <p>Nombre del producto</p>
            </div>
            <div class="col-4 col-sm-4">
                <p>ID</p>
            </div>
        </div>
        </div>
        <!-- Línea de separación -->
        <div class="row mb-5">
            <div class="col-12">
                <hr size="3" >
            </div>
        </div>
        <!-- Calificación -->
        <div class="row">
            <div class="col-12">
                <p class="fs-5 mb-1"> Calificación</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mb-5">
                <span style="font-size:400%" class="text-muted bd-highlight ">★★★★★</span> 
            </div>
        </div>
        <!-- Línea de separación -->
        <div class="row mb-5">
            <div class="col-12">
                <hr size="3" >
            </div>
        </div>
        <!-- Agregar un comentario escrito -->
        <div class="row">
            <div class="col-12">
                <p class="fs-5 mb-3"> Agregar un comentario escrito </p>
            </div>
        </div>
        <!-- Caja de comentarios -->
        <div class="row">
            <div class="form-floating mb-2">
                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" style="height: 240px"></textarea>
                <label for="floatingTextarea">Comentario</label>
            </div>
        </div>
        <!-- Botón de guardar Reseña -->
        <div class="d-grid gap-2 justify-content-md-end">
            <button class="btn btn-primary" type="submit">Guardar</button>
          </div>
    </div>
</div> <br>