<div class="container">
    <h4>Crear Reseña</h4> <br>
    <!-- Imagen, nombre y ID del producto -->
    <div class="row">
        <div class="col-3 mb-5">
        <img src="https://www.punto-informatico.it/app/uploads/2020/05/lg_gram.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="col-9 mb-5">
        <div class="row">
            <div class="col-8 col-sm-8">
                <p>Nombre del producto</p>
            </div>
            <div class="col-4 col-sm-4">
                <p>ID</p>
            </div>
        </div>
        </div>
    </div>
    <!-- Línea de separación -->
    <div class="row mb-5">
        <div class="col-12">
            <hr size="3" >
        </div>
    </div>
    <!-- Calificación -->
    <div class="row">
        <div class="col-12">
            <p class="fs-5 mb-2"> Calificación</p>
        </div>
    </div>
    <!-- Calificación de 1 a 5 apartir de # de estrellas-->
    <div class="row ">
        <div class="col-lg-4 align-self-start">
            <form>
                <p class="clasificacion" style="font-size:350%">
                    <input id="radio1" type="radio" name="estrellas" value="5"><!--
                    --><label for="radio1">★</label><!--
                    --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                    --><label for="radio2">★</label><!--
                    --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                    --><label for="radio3">★</label><!--
                    --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                    --><label for="radio4">★</label><!--
                    --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                    --><label for="radio5">★</label>
                </p>
            </form>
        </div>
    </div>
    <!-- Línea de separación -->
    <div class="row mb-5">
        <div class="col-12">
            <hr size="3" >
        </div>
    </div>
    <!-- Agregar un comentario escrito -->
    <div class="row">
        <div class="col-12">
            <p class="fs-5 mb-3"> Agregar un comentario escrito </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form>
                <!-- Caja de comentarios -->
                <div class="row">
                    <div class="form-floating mb-2">
                        <label for="exampleFormControlTextarea1" class="form-label">Comentario</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 200px"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Botón de guardar Reseña -->
    <div class="d-grid justify-content-sm-end">
        <button class="btn btn-primary" type="submit">Guardar</button>
    </div>
</div> <br>