<div class="w-75 mx-auto p-3">
    <div class="row justify-content-between">
        <!-- Calificaciones de clientes -->
        <!-- Columna izquierda-->
        <div class="col-5">
            <h5>Calificaciones de usuarios</h5> <br>
            <!-- Calificaciones globales-->
            <div class="container">
                <div class="row justify-content-start">
                    <!-- Promedio entre 0 y 5 -->
                    <div class="col-12">
                        <p align="left" class="fs-1 mb-1">{{promedio}} de 5
                            <span class="text-warning fs-1 bd-highlight">★</span>
                            <span style="font-size: 40px;">'</span>
                            <span style="font-size: 30px;">s</span>
                        </p>
                    </div>
                    <!-- Promedio Total entre # Total de calificaciones -->
                    <div class="col-12 mb-3" style="text-align: left;">
                        <small>Promedio entre {{total}} calificaciones</small>
                    </div>
                </div> <br>
            </div> 

            <!-- Escribir reseña sobre este producto -->
            <div class="row justify-content-start">
                <div class="col-12">
                    <p align="left" class="fs-5 mb-3">Escribir reseña sobre este producto </p>
                </div>
                <small class="mb-3">Comparte tu reseña con otros usuarios</small>
                <!-- Botón de Escribir Reseña -->
                <!--
                    <div class="d-grid gap-2 mx-auto">
                        <button class="btn btn-primary" type="button">Escribir Reseña</button>
                    </div>
                -->

                <div class="col-11">
                    <div class="d-grid">
                        <a routerLink="/crear-resena" routerLinkActive="active"
                        class="btn btn-light border-primary btn-ms rounded-pill">
                        Escribir Reseña
                        </a>
                    </div> 
                </div>
            </div> <br>            
        </div> <br>
        
        <!--Comentarios-->
        <!-- Columna derecha-->
        <div class="col-6">
            <h5> Comentarios </h5> <br>
            <div class="list-group">
                <div *ngFor="let resena of resenias">
                    <!-- Usuario 1-->
                    <div class="d-flex w-100 justify-content-between">
                        <!-- Nombre del usuario -->
                        <h6 class="mb-2">{{resena.nombre}}</h6>
                        <!-- Calificación-->
                            <div *ngIf="1==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★<span class="text-muted fs-4 bd-highlight">★★★★</span></span>
                            </div>
                            <div *ngIf="2==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★<span class="text-muted fs-4 bd-highlight">★★★</span></span>
                            </div>
                            <div *ngIf="3==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★★<span class="text-muted fs-4 bd-highlight">★★</span></span>
                            </div>
                            <div *ngIf="4==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★★★<span class="text-muted fs-4 bd-highlight">★</span></span>
                            </div>
                            <div *ngIf="5==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★★★★<span class="text-muted fs-4 bd-highlight"></span></span>
                            </div>
                    </div>
                    <!-- Puedo agregar una etiqueta p aquí -->
                    <!-- Comentario -->
                    <small>{{resena.opinion}}</small> <br> 
                </div>   
                <div class="col-11 mt-5">
                    <div class="d-grid">
                        <a routerLink="/ver-resenas" routerLinkActive="active"
                        class="btn btn-light border-primary btn-ms rounded-pill">
                        Ver todas reseñas
                        </a>
                    </div> 
                </div> 
            </div>
        </div>
</div>
