.tarjetaProducto{
    height: 360px;
    width: 240px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    margin: 10px 30px;
    box-shadow: 0px 2px 5px 5px rgba(60, 59, 73, 0.1);
    padding: 0px;
}

.imagenContainer{
    width: 100%;
    height: 180px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 13px;
}

.imagenContainer img{
    object-fit:cover;
    width: 100%;
    height: 180px;
    border-radius: 13px 13px 0px 0px;
}

.imagenContainer .info{
    display: none;
}

.datosContainer {
    width:  100%;
    height: 100%;
    padding: 5px;
    margin-top: 5px;
}
.datosContainer p{
    margin-bottom: 0px;
}
.datosContainer .nombreProducto{
    width: 100%;
    padding-bottom: 2px;
}

.datosContainer .nombreProducto small{
    background: rgba(109, 119, 163, 0.2);
    padding: 0px 3px;
    border-radius: 3px;
}

.calificacionProducto{
    width: 100%;
    margin-top: 8px;
}
.calificacionProducto .stars{
    font-size: 1.2em;
}
.calificacionProducto small{
    position: relative;
    font-size: 0.8em;
    bottom: 1px;
}

.btn-ver {
   
    width: 100%;
    padding: 5px 0px;
    border: none;
    border-radius: 0px 0px 13px 13px;
    color:rgb(223, 223, 223);
    text-align:center;
    transition: all 0.15s;
    box-shadow: none;
}

.btn-ver:hover{
    background: rgb(84, 87, 97);
}

