<div class="d-flex tarjetaProducto flex-column d-flex justify-content-start align-items-center">
  
  <div class="d-flex imagenContainer">
    <img [src]="producto.imagenes[0].imagen" class="imagenProducto" [alt]="producto.nombre">
    <p class="info card-img-top p-2"> {{ producto.descripcion }}</p>
  </div>

  <div class="d-flex datosContainer flex-column d-flex justify-content-start align-items-start">

    <!-- Nombre e ID -->
    <h6 class="nombreProducto">{{ producto.nombre }} 
      <small class="precioProducto text-muted "> ID {{ producto.idProducto }} </small>
    </h6>

    <!-- Precio -->
    <p class="fw-bold">${{ producto.precio }} MXM</p>


    <!-- Calificación -->
    <p class="calificacionProducto text-muted">
      <span class="text-warning">{{estrellaA}}<span class="text-muted">{{estrellaG}}</span></span> 
          ({{total}} opiniones) 
    </p>
  </div>

  

  <!-- Botón para ver información completa -->
  <a [routerLink]="['/producto', producto.idProducto]"
    routerLinkActive="active" 
    class="btn btn-dark btn-ver">
    Ver producto
  </a>

</div>


