
<div class="w-75 mx-auto p-3">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <!-- Nombre -->
    <div>
      <h4>Nombre del producto</h4>
      <h6 class="text-muted">ID producto</h6>
    </div>
    <!-- Calificación -->
    <div>
      <span class="text-warning fs-2">★★★<span class="text-muted fs-2">★★</span></span>
    </div>
  </div>
  
  
  <!-- Imagenes del producto -->
  <div id="carouselExampleControls" class="carousel slide h-25 w-50 mx-auto" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.punto-informatico.it/app/uploads/2020/05/lg_gram.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.punto-informatico.it/app/uploads/2020/05/lg_gram.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://www.punto-informatico.it/app/uploads/2020/05/lg_gram.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- Precio -->
  <p class="mt-6 fs-3 fw-bold text-end">$100 MXN</p>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <!-- Descripción -->
    <p class="text-justify w-75  font-monospace">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet cursus sit amet dictum. Quisque non tellus orci ac auctor. Quis vel eros donec ac odio tempor orci dapibus ultrices. Aliquam ut porttitor leo a diam sollicitudin tempor. Nibh ipsum consequat nisl vel. Non tellus orci ac auctor augue mauris. Et ultrices neque ornare aenean euismod elementum nisi quis. Facilisi morbi tempus iaculis urna id volutpat. Cras sed felis eget velit aliquet sagittis. Aliquam ultrices sagittis orci a scelerisque purus. Enim blandit volutpat maecenas volutpat blandit aliquam etiam erat velit.
    </p>
    <!-- Agregar al carrito-->
    <div>
      <a routerLink="/producto" routerLinkActive="active"
      class="btn btn-primary btn-lg w-100 rounded-pill mx-auto">
      Agregar
      </a>
    </div>
    
  </div>
  
</div>
