
<div class="w-75 mx-auto p-3">
  <div class="d-flex flex-row justify-content-between align-items-center">
    <!-- Nombre -->
    <div>
      <h4>{{ producto.nombre }}</h4>
      <h6 class="text-muted">{{ id }}</h6>
    </div>
    <!-- Calificación -->
    <div>
      <span class="text-warning fs-2">★★★<span class="text-muted fs-2">★★</span></span>
    </div>
  </div>
  
  
  <!-- Imagenes del producto -->
  <div class="content-section implementation carousel-demo">
    <p-carousel [value]="producto.fotos" styleClass="custom-carousel" [numVisible]="3" [numScroll]="2"
        [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
        <ng-template let-foto pTemplate="item">
          <img [src]="foto" class="d-block w-100" [alt]="producto.nombre">
        </ng-template>
    </p-carousel>
  </div>

  <!-- Precio -->
  <p class="mt-6 fs-3 fw-bold text-end">${{ producto.precio }} MXN</p>
  <div class="d-flex flex-row justify-content-between align-items-center">
    <!-- Descripción -->
    <p class="text-justify w-75  font-monospace">
      {{ producto.descripcion }}
    </p>
    <!-- Agregar al carrito-->
    <div>
      <a routerLink="/producto" routerLinkActive="active"
      class="btn btn-primary btn-lg w-100 rounded-pill mx-auto">
      Agregar
      </a>
    </div>
    
  </div>
  
</div>

<app-resenas></app-resenas>