<div class="w-75 mx-auto p-3">
    <div class="row justify-content-between">
        <!-- Calificaciones de clientes -->
        <!-- Columna izquierda-->
        <div class="col-5">
            <h5>Calificaciones de usuarios</h5> <br>
            <!-- Calificaciones globales-->
            <div class="container">
                <div class="row justify-content-start">
                    <!-- Promedio entre 0 y 5 -->
                    <div class="col-12">
                        <p align="left" class="fs-1 mb-1">4.0 de 5</p>
                    </div>
                    <!-- Estrellas -->
                    <div class="col-12" style="text-align: left;">
                        <span class="text-warning fs-1 bd-highlight">★★★★<span class="text-muted fs-1 bd-highlight">★</span></span> <br>
                    </div>
                    <!-- Promedio Total entre # Total de calificaciones -->
                    <div class="col-12" style="text-align: left;">
                        <small>Promedio entre 58 calificaciones</small>
                    </div>
                </div> <br>

                <!-- 5 estrellas -->
                <div class="row">
                    <div class="col-3">
                        <small>5 estr</small> 
                    </div>
                    <div class="col-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 77%" aria-valuenow="77" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-1">
                        45
                    </div>
                </div>
                <!-- 4 estrellas -->
                <div class="row">
                    <div class="col-3">
                        <small>4 estr</small> 
                    </div>
                    <div class="col-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 19%" aria-valuenow="19" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-1">
                        11
                    </div>
                </div>
                    <!-- 3 estrellas -->
                    <div class="row">
                    <div class="col-3">
                        <small>3 estr</small> 
                    </div>
                    <div class="col-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-1">
                        1
                    </div>
                </div>
                <!-- 2 estrellas -->
                <div class="row">
                    <div class="col-3">
                        <small>2 estr</small> 
                    </div>
                    <div class="col-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-1">
                        0
                    </div>
                </div>
                <!-- 1 estrella -->
                <div class="row">
                    <div class="col-3">
                        <small>1 estr</small> 
                    </div>
                    <div class="col-7">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 2%" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="col-1 mb-5">
                        1
                    </div>
                </div> 
            </div> <br>

            <!-- Escribir reseña sobre este producto -->
            <div class="row justify-content-start">
                <div class="col-12">
                    <p align="left" class="fs-5 mb-3">Escribir reseña sobre este producto </p>
                </div>
                <small class="mb-3">Comparte tu reseña con otros usuarios</small>
                <!-- Botón de Escribir Reseña -->
                <div class="col-12" style="text-align: center;">
                    <!--
                    <div class="d-grid gap-2">
                        <button class="btn btn-primary" type="button">Escribir Reseña</button>
                    </div>
                    -->
                    <div class="d-grid gap-2">
                        <button class="btn btn-light border-primary" type="button">Escribir Reseña</button>
                    </div>
                </div>
            </div> <br>            
        </div> <br>
        
        <!--Comentarios-->
        <!-- Columna derecha-->
        <div class="col-6">
            <h5> Comentarios </h5> <br>
            <div class="list-group">
                <!-- Usuario 1-->
                <div class="d-flex w-100 justify-content-between">
                    <!-- Nombre del usuario -->
                    <h6 class="mb-2">Omar Gramer</h6>
                    <!-- Calificación-->
                    <div> 
                        <span class="text-warning fs-4 bd-highlight">★★★★<span class="text-muted fs-4 bd-highlight">★</span></span>
                    </div>
                </div>
                <!-- Puedo agregar una etiqueta p aquí -->
                <!-- Comentario -->
                <small>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint sit repudiandae temporibus quod placeat consequuntur, ipsam in dignissimos itaque architecto molestias odio beatae neque nobis, commodi ea! Temporibus, maxime omnis..</small> <br>
                <!-- Usuario 2-->
                <div class="d-flex w-100 justify-content-between">
                    <!-- Nombre del usuario -->
                    <h6 class="mb-2">Marco Orduña</h6>
                    <!-- Calificación-->
                    <div>
                        <span class="text-warning fs-4 bd-highlight">★★★<span class="text-muted fs-4 bd-highlight">★★</span></span>
                    </div>
                </div>
                <!-- Comentario -->
                <small>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus nulla voluptates ducimus expedita laborum alias tempora maxime perspiciatis culpa vero dignissimos optio, neque placeat, nemo voluptate eos odio similique. Iusto?</small> <br>
                <!-- Usuario 3-->
                <div class="d-flex w-100 bd-highlight">
                    <!-- Nombre del usuario -->
                    <h5 class="mb-2 flex-grow-1 bd-highlight">Kethrim Trad</h5>
                    <!-- Calificación-->
                    <div>
                        <span class="text-warning fs-4 bd-highlight">★★<span class="text-muted fs-4 bd-highlight">★★★</span></span>
                    </div>
                </div>
                <!-- Comentario -->
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae eius doloribus cupiditate qui obcaecati placeat? Expedita dolore repellat doloremque provident obcaecati minima aspernatur dolorem soluta laborum, repudiandae rerum quod sit.</small> <br>
                <!-- Usuario 4-->
                <div class="d-flex w-100 bd-highlight">
                    <!-- Nombre del usuario -->
                    <h5 class="mb-2 flex-grow-1 bd-highlight">Denia Salas</h5>
                    <!-- Calificación-->
                    <div>
                        <span class="text-warning fs-4 bd-highlight">★★★★<span class="text-muted fs-4 bd-highlight">★</span></span>
                    </div>
                </div>
                <!-- Comentario -->
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae eius doloribus cupiditate qui obcaecati placeat? Expedita dolore repellat doloremque provident obcaecati minima aspernatur dolorem soluta laborum, repudiandae rerum quod sit.</small> <br>
                <!-- Usuario 5-->
                <div class="d-flex w-100 bd-highlight">
                    <!-- Nombre del usuario -->
                    <h5 class="mb-2 flex-grow-1 bd-highlight">Antonio Reyes</h5>
                    <!-- Calificación-->
                    <div>
                        <span class="text-warning fs-4 bd-highlight">★★★★<span class="text-muted fs-4 bd-highlight">★</span></span>
                    </div>
                </div>
                <!-- Comentario -->
                <small>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae eius doloribus cupiditate qui obcaecati placeat? Expedita dolore repellat doloremque provident obcaecati minima aspernatur dolorem soluta laborum, repudiandae rerum quod sit.</small> <br>
            </div> <br>
            <!-- Ver todas las reseñas -->
            <div class="d-grid gap-2 col-7 mx-auto">
                <button class="btn btn-light border border-primary" type="button" >Ver todas las reseñas</button>
              </div>
        </div>
    </div>
</div>
