<app-barra-nav-comprador> </app-barra-nav-comprador>
<app-background></app-background>

<div class="products-container">
    <div class="d-flex flex-row justify-content-between align-items-center">
        <div class="container">
            <h4 class="mb-3">Reseñas de usuarios</h4><br>
            <!-- Promedios-->
            <div class="row">
                <!-- Promedio de calificación -->
                <p align="left" class="fs-1 mb-1 text-center">{{promedio}} de 5 estrellas
                </p>
                <!-- Promedio del # total de calificaciones -->
                <div class="col-12 mb-5 text-center" style="text-align: left;">
                    <small >Promedio entre {{total}} calificaciones</small>
                </div>
            </div>
            <!-- Fin de Promedios -->

            <!-- Inicio de Todos los comentarios en forma de lista -->
            <div class="row">
                <div class="list-group">
                    <div *ngFor="let resena of resenias">
                        <!-- Usuario n-->
                        <div class="d-flex w-100 justify-content-between">
                            <!-- Nombre del usuario -->
                            <h6>{{resena.nombre}}</h6>
                            <!-- Calificación del usuario-->
                            <div *ngIf="1==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★<span class="text-muted fs-4 bd-highlight">★★★★</span></span>
                            </div>
                            <div *ngIf="2==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★<span class="text-muted fs-4 bd-highlight">★★★</span></span>
                            </div>
                            <div *ngIf="3==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★★<span class="text-muted fs-4 bd-highlight">★★</span></span>
                            </div>
                            <div *ngIf="4==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★★★<span class="text-muted fs-4 bd-highlight">★</span></span>
                            </div>
                            <div *ngIf="5==resena.calificacion">
                                <span class="text-warning fs-4 bd-highlight">★★★★★<span class="text-muted fs-4 bd-highlight"></span></span>
                            </div>
                        </div>
                            <!-- Comentario del usuario-->
                            <small>{{resena.opinion}}</small> <br> <br> <br>
                    </div> 
                </div>
            </div>
            <!-- Fin de Todos los comentarios en forma de lista -->
        </div>
    </div>
</div>