<app-barra-nav-comprador> </app-barra-nav-comprador>
<app-background></app-background>

<div class="products-container">
    <div class="d-flex flex-row justify-content-between align-items-center">
      <!-- Nombre -->
        <div class="container">
            <h4>Reseñas de usuarios</h4><br>
            <!-- Primer columna -->
            <div class="row">
                <!-- Calificaciones -->
                <div class="col-12">
                    <div class="row justify-content-start">
                        <!-- Promedio entre 0 y 5 -->
                        <div class="col-12">
                            <p align="left" class="fs-1 mb-1">{{promedio}} de 5
                            <span class="text-warning fs-1 bd-highlight">★</span>
                            <span style="font-size: 40px;">'</span>
                            <span style="font-size: 30px;">s</span>
                            </p>
                        </div>
                        <!-- Promedio Total entre # Total de calificaciones -->
                        <div class="col-12" style="text-align: left;">
                            <small>Promedio entre {{total}} calificaciones</small>
                        </div>
                    </div> <br>
                </div>
            </div>

            <!-- Tercer Columna: List completa de comentarios -->
            <div class="row">
                <div class="col-12">
                    <div class="list-group">
                        <!-- Usuario 1-->
                        <div *ngFor="let resena of resenias">
                            <!-- Usuario 1-->
                            <div class="d-flex w-100 justify-content-between">
                                <!-- Nombre del usuario -->
                                <h6 class="mb-2">{{resena.nombre}}</h6>
                                <!-- Calificación-->
                                    <div *ngIf="1==resena.calificacion">
                                        <span class="text-warning fs-4 bd-highlight">★<span class="text-muted fs-4 bd-highlight">★★★★</span></span>
                                    </div>
                                    <div *ngIf="2==resena.calificacion">
                                        <span class="text-warning fs-4 bd-highlight">★★<span class="text-muted fs-4 bd-highlight">★★★</span></span>
                                    </div>
                                    <div *ngIf="3==resena.calificacion">
                                        <span class="text-warning fs-4 bd-highlight">★★★<span class="text-muted fs-4 bd-highlight">★★</span></span>
                                    </div>
                                    <div *ngIf="4==resena.calificacion">
                                        <span class="text-warning fs-4 bd-highlight">★★★★<span class="text-muted fs-4 bd-highlight">★</span></span>
                                    </div>
                                    <div *ngIf="5==resena.calificacion">
                                        <span class="text-warning fs-4 bd-highlight">★★★★★<span class="text-muted fs-4 bd-highlight"></span></span>
                                    </div>
                            </div>
                            <!-- Puedo agregar una etiqueta p aquí -->
                            <!-- Comentario -->
                            <small>{{resena.opinion}}</small> <br> 
                        </div>  <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>