<div class=" p-2">
    <!-- Sección que muestra todos los productos -->
    <h4 class="m-3 p-2 
               bg-secondary bg-gradient 
               rounded-pill
               text-center">Todos 🛒</h4>
    <span> {{ productos.length }} productos</span>
    <!-- Todos los productos -->
    <div class="content-section implementation carousel-demo">
        <p-carousel [value]="productos" styleClass="custom-carousel" [numVisible]="4" [numScroll]="2"
            [circular]="true" [autoplayInterval]="0" [responsiveOptions]="responsiveOptions">
            <ng-template let-producto pTemplate="item">
                <app-tarjeta-producto [producto] = producto></app-tarjeta-producto>
            </ng-template>
        </p-carousel>
    </div>
</div>