.cuentaIMG{
    filter: invert();
}
.carrito{
    filter: invert();

}

h3 {
  width: 300px;
  text-align: center;
  color: white;
  background: rgba(255, 255, 255, 0.25);
  margin-bottom: 50px;
  margin-top: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

 /* Buscador responsivo */
 @media only screen and (max-width: 990px) {
    .buscador{
      width: 100% !important;
      flex-direction: row !important;
      justify-content: center;
    }
  }
  /* Buscador responsivo */
  @media only screen and (max-width: 550px) {
    .buscador *{
      width: 80% !important;
      flex-direction: column !important;
    }
  }