<!-- Sección que muestra el top 5 de productos vendidos -->
<app-barra-nav-vendedor>  </app-barra-nav-vendedor>
<body>
    
    <app-background></app-background>

    <div class="content d-flex justify-content-center">

        <div class="products-container d-flex flex-column justify-content-center align-items-center">

            <div id="title" class="container">
                <h1> <i class="bi bi-shop-window"> </i>Mis Productos</h1>
            </div>

            <!-- Muestra los productos del vendedor -->
            <app-tarjeta-admin [producto] = producto
                *ngFor="let producto of lista_productos; let i = index"
                (EliminarEvent)= "cargaListaProductos()"
                (EditarEvent)  = "accionEditarProducto()" >
            </app-tarjeta-admin>

            <app-form-alta-producto 
            (productoDadoAltaEvent)="cargaListaProductos()">
            </app-form-alta-producto>
            

        </div>
        
    </div>
    
</body>