
body { 
    margin: 0;
    background: none;
    min-height: 80vh;
}

#title{
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin-top: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#title h1{
    font-size: 3em;
    font-weight: bolder;
}

#title i{
    position: relative;
    font-size: 1.5em;
    right: 0.3em;
}



.products-container{
    width: 90%;
    max-width: 800px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    margin-bottom: 100px;
    margin-top: 70px;
}

.products-container app-tarjeta-admin{
    width: 100%;
}
