<div class="m-5 p-2">
    <!-- Sección que muestra el top 5 de productos vendidos -->
    <h4 class="m-3 p-2 
               bg-secondary bg-gradient
               w-25 rounded-pill
               text-center">Más vendidos 🛒</h4>
    <!-- Tarjeta de productos -->
    <div class="d-flex flex-row 
                flex-wrap 
                align-items-center 
                justify-content-center 
                p-2 w-100">
        <app-tarjeta-producto [producto] = producto
                            *ngFor="let producto of top5; let i = index">
        </app-tarjeta-producto>      
    </div>
</div>

