
.products-container{
    padding: 30px 50px;
    width: 95%;
    max-width: 800px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
    margin: auto;
}

.titulo-icon{
    font-size: 5em;
}

img {
    object-fit: contain;
}

.text-secondary{
    font-size: .8rem;
}

.cantidad-p{
    display: flex;
    padding: .3rem 1.3rem; 
    text-align: center;   
    margin: auto;
    height: 100%;
    border: 2px solid rgb(197, 193, 193);
}

.cantidad-p{
    background-color: rgba(255, 255, 255, 0.5);
    border-color:  rgb(255, 255, 255, 0.1);
    color: black;
}

.btn-group{
    overflow: hidden;
    margin-top: 30px;       
}

.text-bolder{    
    font-weight: 700;
}

.precio-borrar{
    display: flex;
    flex-flow: column;   
    justify-content: flex-start; 
}

.precio-borrar p, .precio-borrar button {
    margin: 0 auto;
}

.col-6 {
    display: flex;
    justify-content: flex-end;    
}

.col-6 button{
    margin-right: 120px;
}
   
.btn-group > button {
    border: none;
}
