<div class="container">
    <p class="fs-3 text-center">¿Cómo quieres pagar? 💳 </p>

    <!-- Lista de tarjetas -->
    <div class="container">
        <div class="row">
            <p class="fs-5"> Mis métodos de pago</p>

            <div class="row mb-2 " *ngFor="let tar of listaT, index as i">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        {{formato(i)}}
                    </label>
                </div>

            </div>
        </div>
    </div>

    <div class="container mt-3 ">
        <button class="btn btn-light fs-5 mb-3" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            ➕ Agregar un método de pago
        </button>

        <div class="collapse border border-white p-2 py-3" id="collapseExample">
            
            <form class="row g-3 needs-validation" [ngClass]="{'was-validated': valida}" (ngSubmit)="validarTar(f)" #f="ngForm" novalidate>
                <div class="container">

                    <div class="mb-3 row">
                        <label for="dueno" class="col-sm-3 col-form-label">Nombre del propietario</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="dueno" placeholder="Sara Ramírez Costa" autocomplete="off" name="dueno" ngModel required>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="numero" class="col-sm-3 col-form-label">Número de tarjeta</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" id="numero" placeholder="0000 0000 0000 0000" autocomplete="off" pattern="4\d{15}|5\d{15}" name="numero" ngModel required>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="cvv" class="col-sm-3 col-form-label">CVV</label>
                        <div class="col-sm-2">
                            <input type="text" class="form-control" id="cvv" placeholder="123" autocomplete="off" name="cvv" pattern="\d{3}" ngModel required>
                        </div>
                    </div>
                    
                    <div class="mb-3 row">
                        <label for="exp" class="col-sm-3 col-form-label">Fecha de expiración</label>
                        <div class="col-sm-3">
                            <div class="input-group mb-3">
                                <input type="number" class="form-control" min="1" max="12" autocomplete="off" placeholder="MM" name = "mes" ngModel required>
                                <span class="input-group-text">/</span>
                                <input type="number" class="form-control" min="21" autocomplete="off" placeholder="YY" name = "anio" ngModel required>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-auto" >
                        <div class="col d-flex justify-content-center">
                            <button type="submit" class="btn btn-outline-primary" >Agregar</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>


    </div>

    <div class="row mb-3">
        <div class="col can-con">
            <button type="button" class="btn btn-outline-danger ">Cancelar compra</button>
        </div>
        <div class="col can-con">
            <button type="button" class="btn btn-outline-primary ">Finalizar compra</button>
        </div>
    </div>


</div>



<!-- <p>metodo de pago works!</p> -->