<div class="container">
    <p class="fs-3 text-center">¿Cómo quieres pagar? 💳 </p>

    
    <div class="container">
        <div class="row">
            <!-- Lista de tarjetas -->
            <p class="fs-5"> Mis métodos de pago</p>
            <form class="row g-3 needs-validation" #myForm="ngForm" (submit)="obtenerTar(myForm)"
                [ngClass]="{'was-validated': vtar}" novalidate>
                <div class="row mb-2 " *ngFor="let tar of listaT, index as i, last as isLast">
                    <div class="form-check">
                        <input class="form-check-input" [id]="'flexRadioDefault'+i" type="radio" [value]="formato(i)"
                            name="tarElig" ngModel required>
                        <label class="form-check-label" [for]="'flexRadioDefault'+i">
                            {{formato(i)}}
                        </label>
                        <div *ngIf="isLast" class="invalid-feedback">
                            Selecciona un método de pago.
                        </div>
                    </div>
                </div>

                <!-- Agregar método de pago -->
                <div class="container mt-3 ">
                    <button class="btn btn-light fs-5 mb-3" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        ➕ Agregar un método de pago
                    </button>

                    <div class="collapse border border-white p-2 py-3" id="collapseExample">

                        <form class="row g-3 needs-validation" [ngClass]="{'was-validated': valida}"
                            (ngSubmit)="validarTar(f)" #f="ngForm" novalidate>
                            <div class="container">
                                <!-- ¿Cómo hacerlo más grande cuando la pantalla es más pequeña? -->
                                <div class="mb-3 row">
                                    <label for="dueno" class="col-sm-3 col-form-label">Nombre del propietario</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="dueno"
                                            placeholder="Sara Ramírez Costa" autocomplete="off" name="dueno" ngModel
                                            required>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="numero" class="col-sm-3 col-form-label">Número de tarjeta</label>
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control" id="numero"
                                            placeholder="0000 0000 0000 0000" autocomplete="off"
                                            pattern="4\d{15}|5\d{15}" name="numero" ngModel required>
                                    </div>
                                    <div class="invalid-feedback">
                                        Solo aceptamos tarjetas Visa y Mastercard.
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="cvv" class="col-sm-3 col-form-label ">CVV</label>
                                    <div class="col-sm-2">
                                        <input type="text" class="form-control" id="cvv" placeholder="123"
                                            autocomplete="off" name="cvv" pattern="\d{3}" ngModel required>
                                    </div>
                                </div>

                                <div class="mb-3 row">
                                    <label for="exp" class="col-sm-3 col-form-label">Fecha de expiración</label>
                                    <div class="col-sm-5 col-3">
                                        <div class="input-group mb-3">
                                            <input type="number" class="form-control" min="1" max="12"
                                                autocomplete="off" placeholder="MM" name="mes" ngModel required>
                                            <span class="input-group-text">/</span>
                                            <input type="number" class="form-control" min="21" autocomplete="off"
                                                placeholder="YY" name="anio" ngModel required>
                                        </div>
                                    </div>
                                </div>

                                <div class="row margin-auto">
                                    <div class="col d-flex justify-content-center">
                                        <button type="submit" class="btn btn-outline-primary px-5">Agregar</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                <swal #cancelarCompra title="¿Quieres cancelar tu compra?"  icon="question"
                    [showCancelButton]="true" [focusCancel]="false" (confirm)="cancelar()"
                    [swalOptions]="{ confirmButtonText: 'Si', cancelButtonText: 'No' , cancelButtonColor : '  #a4a8a9 ', iconColor : '  #06bae1  '}">
                </swal>

                <!-- Continuar y cancelar compra  -->
                <div class="row mb-3">
                    <div class="col can-con">
                        <button type="button" class="btn btn-outline-danger rounded-pill px-5" (click)="cancelarCompra.fire()">Cancelar compra</button>
                    </div>
                    <div class="col can-con">
                        <button type="submit" class="btn btn-outline-primary rounded-pill px-5">Finalizar compra</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
  