<!--Inicio: Barra de navegación-->

<app-barra-nav-log>   </app-barra-nav-log>

<!--Fín: Barra de navegación-->

<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    
  </head>
  
<!-- Inicio : Body -->

  <body>

    
    <div class="container p-5">
      <div class="row">

        <!-- Inicio video -->
        
        <div class="col-5">
          <video width="100%" autoplay="autoplay" oncanplay="this.play()" onloadedmetadata="this.muted = true" muted loop>
            <source src="../../assets/img/barrasNav/DeVolada.mp4"  type="video/mp4">Su navegador no puede reproducir este video
          </video>
        </div>

        <!-- Fín video -->
        
        <div class="col-7">
          <div class="row">
            <div class="col-6">
              <!-- Inicio card comprador-->
              <div class="card mt-4 border-dark">
                <h4 class="card-header">¿Eres comprador?</h4>
                  <div class="card-body">

                  <!-- Inicio Form -->

                  <form  [formGroup]="myForm" (ngSubmit) = "submitC()"  action="">
                    
                    <label for="validationServer01" class="form-label">Correo Electrónico</label>
                    <div>
                      
                      <input
                      [ngClass] = "(!enviadoC)?  '' : (!esVacioCorreoC && esValidoCorreoC)? 'is-valid' : 'is-invalid'  "
  
                      class="form-control" 
                      formControlName="correoC"
  
                      id="validationServer02"
                      type="email"
                      name = "correoC"
                      label = "Correo Electronico"
                      feedback = "Required"
                      required
                      >
                      <div class="valid-feedback">
                        ¡Luce bien!
                      </div>
                      <div class="invalid-feedback">
                        Por favor ingresa un correo válido
                      </div>
                        
                        
                    </div>
                      
                      

                    <label for="validationServer03" class="form-label">Contraseña</label>
                    <input 
                    [ngClass] = "(!enviadoC)?  '' : (!esVacioContraseniaC && esValidoContraseniaC)? 'is-valid' : 'is-invalid'  "
                    class="form-control" 
                    type="password"
                    formControlName="contraseniaC"
                    
                    name="contraseniaC"
                    label = "Contraseña"
                    feedback = "contrasenia"
                    required
                    >
                    

                    <div  class="invalid-feedback">
                      Por favor ingresa una contraseña válida
                    </div>



                    <button type="submit" class="btn btn-dark mt-3">Enviar</button>
                  </form>

                  <!-- Fin Form -->

                  <div class="label p-2">
                    <div style="font-size: 13px;"> ¿Eres nuevo?</div> 
                    <a routerLink="/registrar" style="font-size: 13px;">Registrate aquí</a>
                  </div>
                </div>
              </div>
              <!-- Fin card comprador-->
            </div>
            <div class="col-6">
              <!-- Inicio card vendedor-->
              <div class="card mt-4 border-dark">
                <h4 class="card-header">¿Eres vendedor?</h4>
                <div class="card-body">
                  
                  <!-- Inicio Form -->
                  
                  <form [formGroup]="myForm" (submit) = "submitV()"  action="">
                    <div>

                      <label for="exampleInputEmail13" class="form-label">Correo Electrónico</label>
                      <input  [ngClass] = " (!enviadoV)?  '' : (!esVacioCorreoV && esValidoCorreoV)? 'is-valid' : 'is-invalid'"
                      class="form-control" 
                      type="email"
                      name = "correoV"
                      label = "Correo Electronico"
                      formControlName="correoV"
                      feedback = "Required"
                      required
                      >
                      <div class="valid-feedback">
                        ¡Luce bien!
                      </div>
                      <div class="invalid-feedback">
                        Por favor ingresa un correo válido
                      </div>
                      
                    </div>
                      
                      <label for="" class="form-label">Contraseña</label>
                      <input [ngClass] = " (!enviadoV)?  '' : (!esVacioContraseniaV && esValidoContraseniaV)? 'is-valid' : 'is-invalid'   "
                    class="form-control" 
                    type="password"
                    name="contraseniaV"
                    label = "Contraseña"
                    formControlName="contraseniaV"
                    feedback = "contrasenia"
                    >
                    <div class="invalid-feedback">
                      Por favor ingresa una contraseña válida
                    </div>
                    <div class="valid-feedback">
                      !Luce bien!
                    </div>

                    <button type="submit" class="btn btn-dark mt-3">Enviar</button>
                  </form>

              <!-- Fin Form -->
              <div class="label p-2">
                <div style="font-size: 13px;"> ¿Eres nuevo?</div> 
                  <a routerLink="/registrar" style="font-size: 13px;">Registrate aquí</a>
                </div>
              </div>
              </div>
              <!-- Fín card vendedor-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  
  <!-- Fín : Body -->
</html>